:host {
  .header {
    display: flex;
    align-items: stretch;
    height: 200px;
    width: 100%;
    border-bottom: 1px solid gray;
  }
  .title {
    width: 300px;
    border-right: 1px solid gray;
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    padding: 0 20px;
  }
  .actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
    padding: 0 20px;
  }
}
