input {
  margin-bottom: 8px;
}
button {
  margin: 0 8px 8px 0;
  padding: 8px;
  border-radius: 3px;
  background-color: lightsalmon;
  border: 1px solid darken(lightsalmon, 5);
  outline: none;
  &.active {
    background-color: lighten(lightsalmon, 20);
  }
}
