<app-header [actionOptions]="actionOptions"></app-header>

<main>
  <div class="some-row">
    <h2>Factory resolver</h2>
    <p>
      <button type="button" (click)="applyButton(inputWithText.value)">Apply button</button>
    </p>
    <p>
      <button type="button" (click)="applyInput(inputWithText.value)">Apply input</button>
    </p>
    <label>
      Text
      <input type="text" #inputWithText>
    </label>
  </div>

  <div class="some-row">
    <app-custom-form-control></app-custom-form-control>
  </div>

  <h1 *ngFor="let item of items$ | async">
    {{item}}
  </h1>

</main>

<router-outlet></router-outlet>
